################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/src/Fancy.Configuration/bin/Debug
/src/Fancy.Configuration/obj
